<navbar></navbar>
<div class="row" *ngIf="_quiz.qns">
	<div class="col s8 offset-s3">
		<span>Tiempo transcurrido: {{ _quiz.displayTimeElapsed() }} </span>
		<div class="progress">
			<div class="determinate" [style.width.%]="this._quiz.qnProgress*cantidadPreguntas"></div>
			
		</div>
		<div class="card #ce93d8 purple lighten-3">
			<div class="card-content white-text">
				<span class="card-title"> Pregunta: {{ _quiz.question }} </span>
				<p> {{ _quiz.qns[this._quiz.qnProgress].qn }} </p>
				<div *ngIf="_quiz.qns[this._quiz.qnProgress].image!=null">
					<img class="center" [src]="_quiz.rootUrl+'/images/'+_quiz.qns[this._quiz.qnProgress].image" style="width:350px;height: 200px;">
				</div>
			</div>
			<div class="card-action">
				<ul class="collection answer">
					<ng-container *ngFor="let option of options; let i = index">
					<li *ngIf="option != null" class="collection-item" (click)="answer(_quiz.qns[this._quiz.qnProgress].qnid, i)">
						{{ option }}
					</li>
					</ng-container>
					
				</ul>
			</div>
		</div>
	</div>
</div>