<nav class="#ad1457 pink darken-3">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">Quiz</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a (click)="salir()" style="cursor: pointer;">Salir</a>
			</li>
		</ul>
	</div>
</nav>
