<navbar></navbar>

<div class="row center-align">
	<div class="col s12">
		<h2 class="header">Completado</h2>

		<div class="card-horizontal">
			<div class="card-image">
				<img src="https://cdn.paradisosolutions.com/wp-content/uploads/2016/11/efforts.png" style="height: 150px; width: 150px">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<h4> {{ participante.name }} </h4>
					<h3> {{ _quiz.answerCorrectCount }}/10 </h3>
					<span>Tiempo transcurrido: {{ _quiz.displayTimeElapsed() }}  </span>
				</div>
				<div class="card-action">
					<button class="btn" (click)="onSubmit()">Enviar</button>
				</div>
			</div>
			<a class="btn-floating halfway-fab waves-effect waves-light red">
				<i class="material-icons">replay</i>
			</a>
		</div>
	</div>
</div>