  <div class="row">
	  <div class="col s6 offset-s3">
  		<div class="card">
  		  <div class="col s6 center-align">
  		  	<h2>Registrarse en el Quiz</h2>
  		  </div>
  		  <div class="col s6 center-align">
  		  	<img src="https://cdn3.iconfinder.com/data/icons/brain-games/1042/Quiz-Games-red.png" style="width: 250px; height: 250px;" class="offset-s">
  		  </div>
  		  
	      <div class="card-content">
	      	<form #registerForm="ngForm" (ngSubmit)="registrarseQuiz(name.value, email.value)">
	      		<div class="row">
	      			<div class="input-field col s12">
	      				<i class="material-icons prefix">account_circle</i>
	      				<input type="text" name="name" #name ngModel required>
	      				<label>Name</label>
	      			</div>
	      		</div>
	      		<div class="row">
	      			<div class="input-field col s12">
	      				<i class="material-icons prefix">mail_outline</i>
	      				<input type="text" name="email" #email ngModel required [pattern]="emailPattern">
	      				<label>Email</label>
	      			</div>
	      		</div>
	      		<div class="row">
	      			<div class="input-field col s12">
	      				<button class="btn-large btn-submit" type="submit" [disabled]="!registerForm.valid">Iniciar</button>
	      			</div>
	      		</div>
	      	</form>
	      </div>
	    </div>
  	</div>
  </div>
            